ARGYLE_API_KEY=
ARGYLE_API_SECRET=
BFF_API_URL=
STYTCH_PROJECT_ID=
STYTCH_SECRET=
STYTCH_PROJECT_ENV= #'live' or 'test'
UNIT_API_URL=
UNIT_API_KEY=

NEXT_PUBLIC_ARGYLE_BASE_URL=
NEXT_PUBLIC_ARGYLE_LINK_KEY=
NEXT_PUBLIC_PD_CONFIG=
NEXT_PUBLIC_GTM_ID=