@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CircularXX";
  src: url(/fonts/CircularXXWebLight.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "CircularXX";
  src: url(/fonts/CircularXXWebRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "CircularXX";
  src: url(/fonts/CircularXXWebMedium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#__next,
#__container {
  height: -webkit-fill-available;
}

.h-screen-fix {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.h-screen-fix-disable {
  min-height: auto;
}

@media (min-width: 768px) {
  #__next {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9fafb;
  }

  #__container {
    position: relative;
    width: 375px;
    height: 667px;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 5px;
  }
}

.scrollbar {
  /* Foreground, Background */
  scrollbar-color: #9ca3af #f3f4f6;
}
.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 2px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.brand-gradient {
  background: linear-gradient(
    234.62deg,
    #e3f5f9 6.78%,
    #fed88a 50.42%,
    #c2c1f2 86.7%
  );
}
